<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6mHTAPzLsM-B0x4CQ30VQpXxa2vLv6wM</string>
	<key>GCM_SENDER_ID</key>
	<string>679011368192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saudiDataIsGoldenApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>saudi-database</string>
	<key>STORAGE_BUCKET</key>
	<string>saudi-database.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679011368192:ios:5bd6d842b09d6919adc7e5</string>
</dict>
</plist>